@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto&display=swap');

$font-header:"Bungee", sans-serif;
$font-body:"Fredoka One";

$color-primary:#463BB5;
$color-secondary:#31CBE5;
$color-white:#FAFBCD;

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:$font-body;
    color:#463BB5;
}

a:link,
a:visited,
a:hover {
    text-decoration:none;
}

nav {
    color:$color-primary;
    height:10vh;
    padding:0 30%;
    display:flex;
    justify-content:space-between;
    align-items: center;
}

#logo {
    font-family:$font-header;
    font-size:100px;
    color:#463BB5;s
}

.button {

}
